div {
    border: 0px solid black;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

div1 {
	background-color: grey;
}



.submit {font-size:10000px;
width: 250px;};

.rotateimg90 {
  background-color: grey;
}
